{% extends 'base.html.twig' %}
{% block body %}
    <div class="image-cover author-profile" style="background:url(https://via.placeholder.com/1920x1000) no-repeat;" data-overlay="6">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <section class="pt-0 gray">

        <div class="container detail-wrap-up">

            <!-- row Start -->
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="autor-bio-wrap">

                        <!-- author thumb -->
                        <div class="author-thumb">
                            <div class="author-thumb-pic">
                                <img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt="">
                            </div>
                            <div class="author-thumb-caption">
                                <h4>{{ prestataire.nom }}</h4>
                                <span></span>
                            </div>
                        </div>

                        <!-- author detail -->
                        <div class="author-full-detail">

                            <div class="author-bio-single-list">
                                <i class="lni-map-marker"></i>Location
                                <h6>{{ prestataire.commune }}</h6>
                            </div>

                            <div class="author-bio-single-list">
                                <i class="ti-email"></i>Email
                                <h6>{{ prestataire.email }}</h6>
                            </div>

                            <div class="author-bio-single-list">
                                <i class="lni-phone-handset"></i>Call
                                <h6>{{ prestataire.numeroTel }}</h6>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12">

                    <!-- All Tab Content -->
                    <div class="tab-content" id="author-tabContent">

                        <!-- About Tab Content -->
                        <div class="tab-pane fade show active" id="author-about" role="tabpanel" aria-labelledby="author-about-tab">

                            <!-- About Content -->
                            <div class="block-wrap">

                                <div class="block-header">
                                    <h4 class="block-title">Description</h4>
                                </div>

                                <div class="block-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>

                            </div>

                            <!-- Services Listings -->
                            <div class="block-wrap">

                                <div class="block-header">
                                    <h4 class="block-title">Services proposés</h4>
                                </div>

                                <div class="block-body">

                                    <!--- All List -->
                                    <div class="row">

                                        <!-- Single Listing -->
                                        {% for service in prestataire.categorieServices %}
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <a class="single-moderns-category " href="{{ path('app_service', {'id':service.id}) }}">
                                                    <figure>
                                                        {# <img src="https://via.placeholder.com/1200x850" title="store" alt="store"> #}
                                                        <figcaption class="overlay-bg">
                                                            <div class="cat-box">
                                                                <div class="icon">
                                                                    <span class="ti-truck"></span>
                                                                </div>
                                                                <div class="cat-info">
                                                                    <h4 class="cat-name">{{ service.nom }}</h4>
                                                                    <span class="badge badge-pill theme-bg">02 Listings</span>
                                                                </div>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </a>

                                                {# <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$25 - $65</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star"></i>
                                                                <a href="#" class="tl-review">(24 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Castle Palace</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="ti-briefcase bg-a"></i>Services</a>
                                                            <span class="more-cat">+3</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> #}
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- listing Tab Content -->
                        <div class="tab-pane fade" id="author-listing" role="tabpanel" aria-labelledby="author-listing-tab">
                            <!-- Featured Listings -->
                            <div class="block-wrap">

                                <div class="block-header">
                                    <h4 class="block-title">All Listings</h4>
                                </div>

                                <div class="block-body">

                                    <!--- All List -->
                                    <div class="row">

                                        <!-- Single Listing -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$25 - $65</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star"></i>
                                                                <a href="#" class="tl-review">(24 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Castle Palace</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="ti-briefcase bg-a"></i>Services</a>
                                                            <span class="more-cat">+3</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Listing -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="list-badge now-open">Now Open</div>
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$40 - $60</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star"></i>
                                                                <a href="#" class="tl-review">(20 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Avenue Mall</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="ti-heart-broken bg-b"></i>Shopping Mall</a>
                                                            <span class="more-cat">+4</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Listing -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$25 - $65</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <a href="#" class="tl-review">(15 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Beauty Spa</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="ti-gift bg-c"></i>Spa & Massage</a>
                                                            <span class="more-cat">+2</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Listing -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="list-badge now-open">Now Open</div>
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$70 - $110</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star"></i>
                                                                <a href="#" class="tl-review">(34 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Sweet Restaurants</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="lni-fresh-juice bg-d"></i>Eat & Dring</a>
                                                            <span class="more-cat">+3</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Listing -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$25 - $65</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star"></i>
                                                                <a href="#" class="tl-review">(22 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Veero Events</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="ti-calendar bg-e"></i>Events </a>
                                                            <span class="more-cat">+4</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Listing -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="list-slide-box">
                                                <div class="modern-list ml-2">
                                                    <div class="list-badge now-close">Now Close</div>
                                                    <div class="grid-category-thumb">
                                                        <a href="search-listing.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x850" class="img-responsive" alt="" /></a>
                                                        <div class="listing-price-info">
                                                            <span class="pricetag">$80 - $95</span>
                                                        </div>
                                                        <div class="property_meta">
                                                            <div class="list-rates">
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star filled"></i>
                                                                <i class="ti-star"></i>
                                                                <a href="#" class="tl-review">(24 Reviews)</a>
                                                            </div>
                                                            <h4 class="lst-title"><a href="listing-detail.html">Hilly Salon</a><span class="veryfied-author"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="modern-list-content">
                                                        <div class="listing-cat">
                                                            <a href="search-listing.html" class="cat-icon cl-1"><i class="ti-briefcase bg-f"></i>Services</a>
                                                            <span class="more-cat">+3</span>
                                                        </div>
                                                        <div class="author-avater">
                                                            <img src="https://via.placeholder.com/400x400" class="author-avater-img" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 mt-3">
                                            <div class="text-center">

                                                <div class="spinner-grow text-danger" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-warning" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <div class="spinner-grow text-success" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- events Tab Content -->
                        <div class="tab-pane fade" id="author-events" role="tabpanel" aria-labelledby="author-events-tab">
                            <!-- Featured Listings -->
                            <div class="block-wrap">

                                <div class="block-header">
                                    <h4 class="block-title">All Events</h4>
                                </div>

                                <div class="block-body">

                                    <div class="alert alert-success" role="alert">
                                        There are no any events.
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- hotel Tab Content -->
                        <div class="tab-pane fade" id="author-hotel" role="tabpanel" aria-labelledby="author-hotel-tab">
                            <!-- Featured Listings -->
                            <div class="block-wrap">

                                <div class="block-header">
                                    <h4 class="block-title">All Hotels</h4>
                                </div>

                                <div class="block-body">
                                    <div class="row">

                                        <!-- Single Hotel -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="hotel-box style-1">

                                                <div class="hotel-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <div class="discount-flick">-12%</div>
                                                        <h4 class="hotel-place">
                                                            <a href="#">New York, Us</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $710/Person</span>
                                                    </div>
                                                </div>

                                                <div class="hotel-detail-box">
                                                    <div class="hotel-ellipsis">
                                                        <h4 class="hotel-name">
                                                            <a href="booking.html">Hotel Green Vallery</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="hotel-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="hotel-review entry-location">
                                                            <span class="review-status bg-success"><i class="ti-check"></i></span>
                                                            <h6><span class="text-success font-bold">Good</span>1362 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>782</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>

                                        <!-- Single Hotel -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="hotel-box style-1">

                                                <div class="hotel-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <div class="discount-flick">-10%</div>
                                                        <h4 class="hotel-place">
                                                            <a href="#">Hong Kong</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $610/Person</span>
                                                    </div>
                                                </div>

                                                <div class="hotel-detail-box">
                                                    <div class="hotel-ellipsis">
                                                        <h4 class="hotel-name">
                                                            <a href="booking.html">Antique Resort</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="hotel-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="hotel-review entry-location">
                                                            <span class="review-status bg-warning"><i class="ti-check"></i></span>
                                                            <h6><span class="text-warning font-bold">Fair</span>122 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>1782</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>

                                        <!-- Single Hotel -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="hotel-box style-1">

                                                <div class="hotel-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <div class="discount-flick">-11%</div>
                                                        <h4 class="hotel-place">
                                                            <a href="#">United Kingdom</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $863/Person</span>
                                                    </div>
                                                </div>

                                                <div class="hotel-detail-box">
                                                    <div class="hotel-ellipsis">
                                                        <h4 class="hotel-name">
                                                            <a href="booking.html">Iceberg Resort</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="hotel-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="hotel-review entry-location">
                                                            <span class="review-status bg-success"><i class="ti-check"></i></span>
                                                            <h6><span class="text-success font-bold">Good</span>872 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>1875</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>

                                        <!-- Single Hotel -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="hotel-box style-1">

                                                <div class="hotel-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <div class="discount-flick">-12%</div>
                                                        <h4 class="hotel-place">
                                                            <a href="#">Qatar</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $580/Person</span>
                                                    </div>
                                                </div>

                                                <div class="hotel-detail-box">
                                                    <div class="hotel-ellipsis">
                                                        <h4 class="hotel-name">
                                                            <a href="booking.html">Vision Motel</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="hotel-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="hotel-review entry-location">
                                                            <span class="review-status bg-success"><i class="ti-check"></i></span>
                                                            <h6><span class="text-success font-bold">Good</span>1587 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>658</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- restaurants Tab Content -->
                        <div class="tab-pane fade" id="author-restaurants" role="tabpanel" aria-labelledby="author-restaurants-tab">
                            <!-- Featured Listings -->
                            <div class="block-wrap">

                                <div class="block-header">
                                    <h4 class="block-title">All Restaurants</h4>
                                </div>

                                <div class="block-body">
                                    <div class="row">

                                        <!-- Single Restaurant -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="restaurent-box style-1">

                                                <div class="restaurent-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <a href="#" class="list-like theme-bg"><i class="ti-heart"></i></a>
                                                        <h4 class="restaurent-place">
                                                            <a href="#">Netherlands</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $710/Person</span>
                                                    </div>
                                                </div>

                                                <div class="restaurent-detail-box">
                                                    <div class="restaurent-ellipsis">
                                                        <h4 class="restaurent-name">
                                                            <a href="#">restaurent Green Vallery</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="restaurent-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="restaurent-review entry-location">
                                                            <span class="review-status bg-warning"><i class="ti-check"></i></span>
                                                            <h6><span class="cl-warning font-bold">Fair</span>1362 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>782</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>

                                        <!-- Single Restaurant -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="restaurent-box style-1">

                                                <div class="restaurent-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <a href="#" class="list-like theme-bg"><i class="ti-heart"></i></a>
                                                        <h4 class="restaurent-place">
                                                            <a href="#">Saudi Arabia</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $840/Person</span>
                                                    </div>
                                                </div>

                                                <div class="restaurent-detail-box">
                                                    <div class="restaurent-ellipsis">
                                                        <h4 class="restaurent-name">
                                                            <a href="#">The Dwarf Pond</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="restaurent-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="restaurent-review entry-location">
                                                            <span class="review-status bg-success"><i class="ti-check"></i></span>
                                                            <h6><span class="cl-success font-bold">Good</span>159 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>1820</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>

                                        <!-- Single Restaurant -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="restaurent-box style-1">

                                                <div class="restaurent-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <a href="#" class="list-like theme-bg"><i class="ti-heart"></i></a>
                                                        <h4 class="restaurent-place">
                                                            <a href="#">United States</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $810/Person</span>
                                                    </div>
                                                </div>

                                                <div class="restaurent-detail-box">
                                                    <div class="restaurent-ellipsis">
                                                        <h4 class="restaurent-name">
                                                            <a href="#">The Eastern Lily</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="restaurent-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="restaurent-review entry-location">
                                                            <span class="review-status bg-info"><i class="ti-check"></i></span>
                                                            <h6><span class="cl-info font-bold">Superb</span>762 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>1750</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>

                                        <!-- Single Restaurant -->
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <article class="restaurent-box style-1">

                                                <div class="restaurent-box-image">
                                                    <figure>
                                                        <a href="booking.html">
                                                            <img src="https://via.placeholder.com/1280x850" class="img-responsive listing-box-img" alt="" />
                                                            <div class="list-overlay"></div>
                                                            <div class="read_more"><span>Read more</span></div>
                                                        </a>
                                                        <a href="#" class="list-like theme-bg"><i class="ti-heart"></i></a>
                                                        <h4 class="restaurent-place">
                                                            <a href="#">San Marino</a>
                                                        </h4>

                                                    </figure>

                                                </div>

                                                <div class="entry-meta">
                                                    <div class="meta-item meta-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                    </div>
                                                    <div class="meta-item meta-comment fl-right">
                                                        <span class="real-price padd-l-10">From $920/Person</span>
                                                    </div>
                                                </div>

                                                <div class="restaurent-detail-box">
                                                    <div class="restaurent-ellipsis">
                                                        <h4 class="restaurent-name">
                                                            <a href="#">The Chili Shack</a>
                                                        </h4>
                                                        <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                                                    </div>
                                                </div>

                                                <div class="restaurent-inner inner-box">
                                                    <div class="box-inner-ellipsis">
                                                        <div class="restaurent-review entry-location">
                                                            <span class="review-status bg-success"><i class="ti-check"></i></span>
                                                            <h6><span class="cl-success font-bold">Good</span>584 Review</h6>
                                                        </div>
                                                        <div class="view-box">
                                                            <div class="fl-right">
                                                                <span><i class="ti-eye padd-r-5"></i>1582</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </article>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /row -->

        </div>

    </section>
{% endblock %}
