{% extends 'base.html.twig' %}

{% block body %}


    <!-- ============================ Login Start================================== -->
    <section class="gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="loving-modern-login">

                        <h3>Créez votre compte professionnel Bien-Être</h3>
                        <div class="row main_login_form">
                            <div class="login_form_dm">

                                {{ form_start(formView) }}

                                {{ form_errors(formView) }}

                                {{ form_widget(formView) }}

                                <p class="already-login">
                                    Déjà membre ? <a href="{{ path('login') }}" class="theme-cl">Connectez-vous</a>
                                </p>

                                {{ form_end(formView) }}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Login End ================================== -->

    <!-- ============================ Newsletter Start ==================================
    <section class="newsletter theme-bg" style="background-image:url(../../public/assets/img/bg-new.png)">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="sec-heading light center">
                        <h2>Get Latest News</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <div class="newsletter-box text-center">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="ti-email theme-cl"></span></span>
                            <input type="text" class="form-control" placeholder="Enter your Email..">
                        </div>
                        <button type="button" class="btn btn-theme btn-rounded btn-m">subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
     ============================ Newsletter End ================================== -->

{% endblock %}